# Dependencies
node_modules/

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env.local
.env.production

# Firebase
google-services.json
GoogleService-Info.plist
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
storage-debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
*.tsbuildinfo
functions/lib/

# Testing
coverage/

# EAS
.eas/
